@font-face{
    font-family: "my_font1";
    src: url(../fonts/Candara.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face{
    font-family: "my_font2";
    src: url(../fonts/EastSeaDokdo-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}

.jumbotroneBgColor{
    background-color: #ccc;
    padding: 1%;
    border-radius: 0.5%;
}

.footerContainerColor{
    background-color: #555;
    color: white;
    padding: 3%;
}

.form-control{
    width: 40% !important;
}

footer a{
    text-decoration: none !important;
    color: lightgrey;
}

footer a:hover{
    color: grey;
}

#my_form_container{
    margin: 10% 0 10% 0;
    font-family: my_font1;
}

#my_form_container .row-2{
    margin-top: 1%;
}

#my_form_container .row-1{
    margin-top: 2%;
}

.brandImage{
    height: 50px;
}

.container .row .content-col{
    font-family: my_font2;
}

.price-tag{
    font-size: 28px;
    color: #555;
}

.buttons{
    width: 100%;
    font-size: 18px;
}

.buttons-2{
    width: 100%;
    font-size: 18px;
}

.buttons:hover{
    background-color: #27f;
}

.buttons-2:hover{
    background-color: #282;
}

.header{
    font-size: 24px;
}

.description{
    font-size: 14px;
    font-family: my_font1;
}

.greyed-out{
    color: #777;
}

.jumbo{
    background-color: #555;
    color: #ccc !important;
}

.txtWeight{
    color: #555;
}

.txtWeight div img{
    height: 20rem;
}