@font-face{
    font-family: "my_font1";
    src: url(../fonts/Candara.ttf);
    font-style: normal;
    font-weight: 100;
}

.jumbotroneBgColor{
    background-color: #ccc;
    padding: 1%;
    border-radius: 0.5%;
}

.footerContainerColor{
    background-color: #555;
    color: white;
    padding: 3%;
}

.form-control{
    width: 40% !important;
}

footer a{
    text-decoration: none !important;
    color: lightgrey;
}

footer a:hover{
    color: grey;
}

#my_form_container{
    margin: 10% 0 10% 0;
    font-family: my_font1;
}

#my_form_container .row-2{
    margin-top: 1%;
}

#my_form_container .row-1{
    margin-top: 2%;
}

.brandImage{
    height: 50px;
}
